*{
    margin: 0;
    padding: 0;
}
.startScreen{
    display: block;
    width: 600px;
    height: 600px;
    background: url("img/bg.png");
    margin: 0 auto;
}
.game{
    display:none;
}
button{
    display: block;
    width: 300px;
    margin: 0 auto;
    background: rgba(225,225,225, .3);
    padding: 20px 15px;
    border-radius: 25%;
    font-size: 36px;
}

